* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mainbox{
    display: flex;
    font-size: 0;
    flex-wrap: wrap;
    margin:-10px 0 0 -10px;
    width: 50rem;
    height: 300px;
}

.childbox {
    display: inline-block;
    background:blue;
    margin:10px 0 0 10px;
    flex-grow: 1;
    height: 140px;    
    width: calc(100% * (1/3) - 10px)
}

.first.isactive {
    flex-grow: 2;
}

.fourth.isactive{
    flex-shrink: 2;
}